<template>
    <div>
        <div class="ui active centered inline loader"></div>
    </div>
</template>

<script>
    import {mapActions} from "vuex";

    export default {
        name: "AuthHandler",
        methods:{
          ...mapActions(['finalizeLogin'])
        },
        created() {
            this.finalizeLogin(window.location.hash)
        }
    }
</script>

<style scoped>

</style>